.hero-carousel {
  position: relative;
}

.hero-carousel-indicator {
  cursor: pointer;
}

.hero-carousel-item {
  height: 430px;
}

.hero-carousel-image {
  object-fit: cover;
}

.hero-carousel-caption {
  max-width: 700px;
}
